 
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Itens à esquerda -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Produtos</a>
        </li>
      </ul>

      <!-- Logo grande centralizada -->
      <a class="navbar-brand" href="/">
        <img src="/images/logo-removebg-preview.png" alt="Armazém do Sítio">
      </a>

      <!-- Container do carrinho ajustado -->
       <% if (locals.user) { %>
        <div class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin/manage">Gerenciamento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sair</a>
          </li>
        </div>
       <% } else { %>
        

        
      <div class="navbar-cart-container">
        <button class="navbar-cart-btn" data-bs-toggle="modal" data-bs-target="#carrinhoModal">
          <i class="bi bi-cart-fill"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger navbar-cart-badge" id="cart-count">
            0
          </span>
        </button>
      </div>

      <% } %>

    </div>
  </div>
</nav>