<div
  class="modal fade"
  id="carrinhoModal"
  tabindex="-1"
  aria-labelledby="carrinhoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="carrinhoModalLabel">Seu Carrinho</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fechar"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="cart-items"></ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <a href="/produtos/checkout" class="btn btn-primary"
          >Finalizar Compra</a
        >
      </div>
    </div>
  </div>
</div>
